/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-imagewize-reviews-block {
	background-color: #21759b;
	color: #fff;
	padding: 2px;

    &.alignfull {
        padding: calc(0.5 * var(--wp--style--root--padding-right)) var(--wp--style--root--padding-right);
    }
    
    .wp-block-columns {
        gap: 2rem;
    }

    .wp-block-image {
        margin: 0 auto;
        img {
            border-radius: 100px;
            aspect-ratio: 1;
            object-fit: cover;
            width: 95px;
        }
    }

    .wp-block-paragraph {
        font-size: var(--wp--preset--font-size--lg);
    }
}
